<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    
    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, 
      .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}
      .bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} 
      .asteriskField{color: red;}
     </style>
  </head>
  <body>
  
  <p><img src="https://drive.google.com/uc?export=download&id=1ogUtDpuTv2Z3cUoJlN3D_JaWMA02Tmz1" width="225" height="75"> </p>
  
  
  <!-- Reference to the vue instance -->
  <div id="fueller-app">
  
  
    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
    <div class="bootstrap-iso">
     <div class="container-fluid">
      <div class="row">
       <div class="col-md-6 col-sm-6 col-xs-12">
        <!--<form method="post">-->
         <div class="form-group" v-if="!customerFound">
          <label class="control-label requiredField" for="fuel_card_id">
           Fuel Card Number
           <span class="asteriskField">
            *
           </span>
          </label>
          <input type="number" id="fuelcard-number" name="number" v-model='customer.number' placeholder="00X" >
          <!--<input class="form-control" id="fuel_card_id" name="fuel_card_id" placeholder="00X" type="text"/>-->
          <span class="help-block" id="hint_fuel_card_id">
           Please enter the fuel card number
          </span>
         </div>
         
          <!-- TODO move into the above form-group -->
          <div class="form-group" v-if="!customerFound">
            <div>
              <div class="btn btn-primary" id="find-customer-button">Next</div>
            </div>
          </div>
          
          <!-- Second stage, enter fuel transaction details -->
          <div class="form-group ">
            <div v-if="customerFound && !showCompleteTransactionButton" class="alert alert-success" role="alert">
              Card Number {{customer.number}} 
            </div>
            <div v-else-if="searchPerformed && !showCompleteTransactionButton" class="alert alert-danger" role="alert">
              No Customer found for this fuel card number 
            </div>
          </div>
          
          <div class="form-group" v-if="customerFound && !showCompleteTransactionButton">
            <label class="control-label requiredField" for="fuel_type">
               Fuel
             <span class="asteriskField">
              *
             </span>
            </label>
            <select class="select form-control" id="fuel_type" name="fuel_type">
             <option disabled selected value> -- select an option -- </option>
             <option value="Diesel">
              Diesel
             </option>
             <option value="Petrol">
              Petrol
             </option>
            </select>
            <span class="help-block" id="hint_fuel_type">
             Please select fuel type
            </span>
         </div>

          <div class="form-group" v-if="customerFound && !showCompleteTransactionButton">
              <label class="control-label requiredField" for="fuel_amount">
               Amount
               <span class="asteriskField">
                *
               </span>
              </label>
              <div class="input-group">
               <div class="input-group-addon">
                &pound;
               </div>
               <input class="form-control" v-model='customer.amount' placeholder="XX.XX" type="number"/>
              </div>
              <span class="help-block" id="hint_fuel_amount">
               Please enter the total amount of fuel spend
              </span>
          </div>
          
          <div class="form-group" v-if="customerFound && !showCompleteTransactionButton">
            <div>
              <div class="btn btn-primary" v-on:click="secondStep">Check credit</div>
            </div>
          </div>
          
          <!-- need to change the if statements to mirror the actions and results -->
          <div class="form-group" v-if="customerFound">
            <div v-if="showCompleteTransactionButton && !showCompleteTransactionMsg" class="alert alert-success" role="alert">
              £{{customer.amount}} for card number {{customer.number}}, 
              Please review and confirm transaction.
            </div>
            <div v-else-if="!isAuthorised && creditCheckPerformed" class="alert alert-danger" role="alert">
              NOT Authorised - Request customer to top-up
            </div>
          </div>
          
           <div class="form-group">
            <div>
              <div v-if="showCompleteTransactionButton && !showCompleteTransactionMsg" class="btn btn-primary" v-on:click="finalStep">Confirm Transaction</div>
            </div>
            <div v-if="showCompleteTransactionMsg" class="alert alert-success" role="alert">
              Tranaction Complete {{transCode}}
            </div>
           </div> 
           
           <div class="form-group">
            <div>
              <div v-if="showCompleteTransactionMsg" class="btn btn-primary" v-on:click="refreshApp">Refresh</div>
            </div>
           </div> 
          
        <!--</form>-->
       </div>
      </div>
     </div>
    </div>

  </div><!-- Reference to the vue instance -->
  
  <script type="text/javascript">
  
  var app = new Vue({
    el: '#fueller-app', 
    data: { 
      customer: {
         number: '', 
         name: '',
         amount: '',
      },      
      customers: [],
      isAuthorised: false,
      customerFound: false,
      searchPerformed: false,
      creditCheckPerformed: false,
      showCompleteTransactionButton: false,
      showCompleteTransactionMsg: false,
      shortfall: 0,
      transCode: ''
    },
    // define methods under the `methods` object
    methods: {
      secondStep: function (event) {
        var customer = {
          number: app.customer.number, 
          amount: app.customer.amount, 
        }; 
        
      google.script.run.withSuccessHandler(creditCheckResults).findCustomer(customer);
        
      },
      finalStep: function (event) {
        generateTransactionNumber();
        this.showCompleteTransactionMsg = true;
      },
      refreshApp: function (event) {
        window.open("https://script.google.com/macros/s/AKfycbwmi96Gni9Ac0FDOuGMZq1_y3manbyM_4J33R63L5NG/dev",'_top');
      }
    }
  }); 
    
 document.querySelector('#find-customer-button').addEventListener('click', function(){
    var customer = {
      number: app.customer.number, 
      amount: app.customer.amount, 
    }; 

    google.script.run.withSuccessHandler(onCustomerSearchResult).findCustomer(customer); 
  
  });

  
  function onCustomerSearchResult(response){
 
   if(response.success) {
      app.customer = response.customer; 
      app.customerFound = response.customerFound;
    } else {
      app.customerFound = false;
    }
    
    app.searchPerformed = true; 
  }

  function creditCheckResults(response){
 
   if(response.success) {
      app.isAuthorised = response.isAuthorised;
      //display complete transaction button only if its authorised
      if (response.isAuthorised) {
        app.showCompleteTransactionButton = true;        
      }

    } else {
      app.isAuthorised = response.isAuthorised;
      app.customerFound = response.customerFound;
    }
    

    
    app.creditCheckPerformed = true; 
  }
  
 function generateTransactionNumber(){
    var min=1; 
    var max=100000;  
    var random =Math.floor(Math.random() * (+max - +min)) + +min; 
    app.transCode = random;
    //document.write("Random Number Generated : " + random ); 
    //Logger.log("Random Number Generated : " + random );  
  }

  
  </script>
  </body>
</html>


