<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
  
  <style>
  .card-deck img {
    max-width: 300px; 
  }
  </style>
  
  </head>
  <body>
  <div class="container">
  <div class="row">
  <div class="col-lg-12" id="fueller-app">
  <h1>Fueller pre-paid checker</h1>
  <p>Message: {{message}}</p>
  
  
  <div>
    <h2>Find customer</h2>
    <label for="Card Number">Fuelcard Number</label>
    <input type="number" id="fuelcard-number" name="number" v-model='customer.number'>
    <label for="fuel-amount">Amount</label>
    <input type="number" id="amount" name="number" v-model='customer.amount'>
    <div class="btn btn-primary" id="find-customer-button">Verify</div>
    <br>
  </div>  
  </div>
  </div>
  </div>
  <script type="text/javascript">
  
  
  var app = new Vue({
    el: '#fueller-app', 
    data: { 
      customer: {
         number: '', 
         name: '',
         amount: '',
      },      
      customers: [],
      message: 'Please enter card number', 
    
    }, 
    methods: {    
    }, 
    mounted: function(){
      google.script.run.withSuccessHandler(renderCustomers).getCustomers();    
    }
  
  }); 
    
 document.querySelector('#find-customer-button').addEventListener('click', function(){
    var customer = {
      number: app.customer.number, 
      amount: app.customer.amount, 
    }; 
  
    google.script.run.withSuccessHandler(onCustomerSearchResult).findCustomer(customer); 
  
  });
  
  function onCustomerSearchResult(response){
 
   if(response.success) {
      app.customer = response.customer; 
      //TODO add the required isAuthenticated post search
      //app.isAuthenticated = true;  
    }
    app.message = response.message; 
  }  
  
  </script>
  </body>
</html>


