<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
  
  <style>
  .card-deck img {
    max-width: 300px; 
  }
  </style>
  
  </head>
  <body>
  <div class="container">
  <div class="row">
  
  <!-- Reference to the vue instance -->
  <div class="col-lg-12" id="fueller-app">
    <p><img src="https://drive.google.com/uc?export=download&id=1ogUtDpuTv2Z3cUoJlN3D_JaWMA02Tmz1" width="225" height="75"> </p>
  
  <h1>Fueller pre-paid checker</h1>
 
  <p>Pump prices: Unleaded £1.27.9, Diesel 1.29.9<p>
  <p>Fueller prices: Unleaded £1.23.9, Diesel 1.25.9<p>
  
  <h4 v-if="isAuthorised"><font color="green">Authorised</font></h4>
  <h4 v-else-if="customerFound"><font color="red">NOT Authorised - Request customer to top-up £{{shortfall}}</font></h4>
  <h4 v-else-if="searchPerformed"><font color="red">No Customer found for that fuel card number</font></h4>
  
  <div>
    <h2>Please enter card number</h2>
    <label for="Card Number">Fuelcard Number (e.g 009)</label>
    <br>
    <input type="number" id="fuelcard-number" name="number" v-model='customer.number'>
    <br>
    <label for="fuel-amount">Amount</label>
    <br>
    <input type="number" id="amount" name="number" v-model='customer.amount'>
    <br><br>
    <div class="btn btn-primary" id="find-customer-button">Verify</div>
    <br>
  </div>  
  </div>
  </div>
  </div>
  <script type="text/javascript">
  
  
  var app = new Vue({
    el: '#fueller-app', 
    data: { 
      customer: {
         number: '', 
         name: '',
         amount: '',
      },      
      customers: [],
      isAuthorised: false,
      customerFound: false,
      searchPerformed: false,
      shortfall: 10
    }, 
    methods: {    
    }, 
    mounted: function(){
      google.script.run.withSuccessHandler(renderCustomers).getCustomers();    
    }
  
  }); 
    
 document.querySelector('#find-customer-button').addEventListener('click', function(){
    var customer = {
      number: app.customer.number, 
      amount: app.customer.amount, 
    }; 
  
    google.script.run.withSuccessHandler(onCustomerSearchResult).findCustomer(customer); 
  
  });
  
  function onCustomerSearchResult(response){
 
   if(response.success) {
      app.customer = response.customer; 
      app.isAuthorised = response.isAuthorised;
      if (app.isAuthorised == false) {
        app.shortfall = response.shortfall;
      }
      app.customerFound = response.customerFound;
    } else {
      app.customerFound = false;
      app.isAuthorised = response.isAuthorised;
      app.customerFound = response.customerFound;
    }
    
    app.searchPerformed = true; 
  }  
  
  </script>
  </body>
</html>


